// app.scss

// Define desired color palettes.

$black: rgba(0, 0, 0, 0) !default;

$primary: "grey";
$accent: "green";
$warn: "green";

$login: "green";
$logout: "red";
$signUp: "blue";
$back: "orange";


// If desired, import the palettes and modify to your liking.
@import "color-palette";
$blue-grey-light: map-merge($color-blue-grey, (
  'default': '900'
));
$color-blue-grey: map-merge($color-blue-grey, ('contrastDefaultColor':  $light-contrast-color));
$color-light-green: map-merge($color-light-green, ('contrastDefaultColor':  $light-contrast-color));

// Import the rest of ember-paper.
@import "ember-paper";


.md-toolbar-tools {
  //background-color: color($primary, '100');
  background-color: #eff6f3;

  a {
    font-size: 0;
  }
}

$defaultThemeRaised: ".md-button.md-default-theme.md-raised";
$defaultThemeIcon: ".paper-icon.md-font.material-icons.md-default-theme.ember-view";
$defaultFocusedThemeButton: ".md-focused.md-default-theme.md-button.md-icon-button.ember-view";
.nav-bar-burger#{$defaultFocusedThemeButton} {
  background-color: transparent;
}
.nav-bar-burger #{$defaultThemeIcon} {
  color: color($shades, 'black');
}
.anchor {
  cursor: pointer;
}
.anchor-login {
  color: color($color-green);
  &:hover {
    color: color($color-green, '900');
  }
  &:focus {
    color: color($color-green);
  }
}
.anchor-logout {
  color: color($color-red);
  &:hover {
    color: color($color-red, '900');
  }
  &:focus {
    color: color($color-red);
  }
}
.anchor-sign-up {
  color: color($color-blue);
  &:hover {
    color: color($color-blue, '900');
  }
  &:focus {
    color: color($color-blue);
  }
}
.anchor-back {
  color: color($color-orange);
  &:hover {
    color: color($color-orange, '900');
  }
  &:focus {
    color: color($color-orange);
  }
}


.button-login#{$defaultThemeRaised} {
  background-color: color($color-green);
  &:hover {
    background-color: color($color-green, '700');
  }
  &:focus {
    background-color: color($color-green);
  }
}
.button-logout#{$defaultThemeRaised} {
  background-color: color($color-red);
  &:hover {
    background-color: color($color-red, '700');
  }
  &:focus {
    background-color: color($color-red);
  }
}
.button-sign-up#{$defaultThemeRaised} {
  background-color: color($color-blue);
  &:hover {
    background-color: color($color-blue, 'A400');
  }
  &:focus {
    background-color: color($color-blue);
  }
}
.button-back#{$defaultThemeRaised} {
  background-color: color($color-orange);
  &:hover {
    background-color: color($color-orange, 'A400');
  }
  &:focus {
    background-color: color($color-orange);
  }
}


body.login, body.sign-up {
  .layout-row.flex {
    height: 100px;
  }
}
